body {
    font-family: Roboto;
    padding-top: 4.5rem;
    hyphens: auto;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.sidebar-sticky {
    z-index: 1000;
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    bottom: 0px;
    height: calc(100vh - 20px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.addScroll {
    overflow-y: auto;
    height: 200px;
}

.card-columns {
    column-count: 4;
}

.card-title {
    font-size: 24px;
    font-family: Roboto;
}
.card-text{
    font-size: 12px !important;
    font-family: Roboto;
    word-break: break-word;
}
.elipsis{
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.max-lines {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.6em;
    line-height: 1.3em;
  }
div.podscroll {
    overflow: auto;
    white-space: nowrap;
}

div.podscroll a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.podscroll a:hover {
    background-color: #777;
}

.card {
    max-width: 100%;
}
small.hyphens {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}