<div class="row mt-4">
    <div class="col-sm">
        <form class="form my-2 my-lg-0 border-bottom" id="podcastsearch" method="GET"
            action="{{ url_for('podcastsearch')}}">
            <div class="form-group">
                <div class="form-group" id="loadpodcasts">
                    {{ form.podcast.label(class="form-control-label h4") }}
                    {% if form.podcast.errors %}
                    {{ form.podcast(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.podcasts.errors %}
                        <span> {{error}} </span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <input style="color:white;" type="text" id="searchfield" name="search"
                        class="form-control form-control-lg" placeholder="Podcasts-Suchen">
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-success maincolor my-2 my-sm-0") }}
            </div>
        </form>
        <div class="border-bottom my-2">
            <h5 class="textcolor">Suchergebnisse: {{ results }}</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="card-columns">
        {% for data in pod_raw %}
        <div class="card my-3 textcolor">
                <div class="card-body pb-2">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card-title h5 max-lines">{{ data['collectionName'] }}</div>
                            <div class="card-text max-lines mt-1">{{ data['artistName'] }}</div>
                            <a class="card-link" href="{{ data['trackViewUrl'] }}">
                                <div class="btn maincolor my-2">ZUM PODCAST</div>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <img class="card-img" width="80px" height="auto" src="{{ data['artworkUrl100'] }}"
                                alt="Card image">
                        </div>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
</div>