{% extends "layout.html" %}

{% block content %}
<!--https://nearsoft.com/blog/how-to-create-an-api-and-web-applications-with-flask/-->
<div class="mx-5 mt-3">
    <div class="row border-bottom my-3">
        <div>
            <h4>Hallo {{ current_user.username}}, dass ist deine Podacst-Übersicht.</h6>
        </div>
    </div>
    <div class="row border-bottom">
        <h5>Aktuelle Podcast Charts</h5>
        <div class="podscroll">
                {% for chart in charts %}
                <a href="{{ chart['url'] }}">
                    <div class="col mb-5 pb-5">
                        <div class="card" style="width: 10rem; height:10rem;">
                            <img src="{{ chart['artworkUrl100']}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <small class="card-title">{{chart['name']}}</small></br>
                                <small class="card-subtitle">{{chart['artistName']}}</small>
                            </div>
                        </div>
                    </div>
                </a>

                {% endfor %}

        </div>

    </div>
</div>
{% endblock %}