{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container mt-3" id="">
        <div class="row textcolor my-5">
            <div class="col-sm-6">
                <h3>Auf dieser Seite kannst du verschiedene Möglichkeiten nutzen, um den perfekten Podcast für dich zu
                    finden.</h3>
            </div>
            <div class="col-sm-6">
                <ul>
                    <li>
                        Podcasts nach Kategorien entdecken
                    </li>
                    <li>
                        Podcasts nach einem Keyword finden
                    </li>
                </ul>
            </div>
        </div>
        {% include '_genresearch.html' %}
        {% include '_podcastsearch.html' %}
        <!--Load Podcasts-->
    
        <!--Load Relevant Results Data-->
        <!--
                        {% for cast in podcasts %}
                        <div class="card my-4">
                            <div class="card-header">{{ cast.title }}</div>
                            <div class="card-footer"><a href={{ cast.link }}>{{ cast.link }}</a></div>
                        </div>
                        {% endfor %}-->
    
    </div>
</div>

{% endblock %}