{% extends "layout.html" %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-sm">
            <div class="card mt-3">
                <div class="card-body">
                    <form class="form my-2 my-lg-0 border-bottom" method="GET" action="{{ url_for('podcastsearch')}}">
                        <div class="form-group">
                            <div class="form-group" id="loadpodcasts">
                                {{ form.podcast.label(class="form-control-label") }}
                                {% if form.podcast.errors %}
                                {{ form.podcast(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.podcasts.errors %}
                                    <span> {{error}} </span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <input type="text" name="search" class="form-control form-control-lg"
                                    placeholder="search">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-success my-2 my-sm-0") }}
                        </div>
                    </form>
                    <div class="border-bottom my-2">
                        <h5>Search Results: {{ results }}</h5>
                    </div>
                    <!--Load Podcasts-->
                    <div class="card-columns">
                        {% for data in pod_raw %}
                        <div class="card my-3" style="max-width: 540px;">
                            <div class="row no-gutters border-bottom ">
                                <div class="col-md-4">
                                    <img class="card-img-top" width="100%" height="100px"
                                        src="{{ data['artworkUrl100'] }}" alt="Card image">
                                    
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h6 class="card-title">{{ data['artistName'] }}</h5>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="mx-auto">
                                <p class="card-text mt-4 border-bottom">{{ data['collectionName'] }}</p>
                                <a class="btn btn-primary" href="{{ data['trackViewUrl'] }}">ZUM PODCAST</a>
                            </div>

                        </div>
                        {% endfor %}
                    </div>
                    <!--Load Relevant Results Data-->
                    <!--
                    {% for cast in podcasts %}
                    <div class="card my-4">
                        <div class="card-header">{{ cast.title }}</div>
                        <div class="card-footer"><a href={{ cast.link }}>{{ cast.link }}</a></div>
                    </div>
                    {% endfor %}-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}